html body .navbar .navbar-inner {
    color: #078dff;
    font-family: 'Rock Salt', cursive;
}

.navbar .divider-vertical {
height: 45px;
margin: 0 9px;
border-right: 5px solid #078dff;
}

.head {
	color: #aaa;
	font-family: 'Indie Flower', cursive;
}

.body-text {
	color: #078dff;
	font-family: 'Indie Flower', cursive;
	font-size: 200%;
}

body{background:#aaa;}