html body .navbar .navbar-inner {
    color: #078dff;
    font-family: 'Rock Salt', cursive;
}

.navbar .divider-vertical {
height: 45px;
margin: 0 9px;
border-right: 5px solid #078dff;
}

.head {
	color: #aaa;
	font-family: 'Indie Flower', cursive;
}

.body-text {
	color: #078dff;
	font-family: 'Indie Flower', cursive;
	font-size: 200%;
}

button .navbar-butt{
  padding:5px;
  background-color: #dcdcdc;
  border: 1px solid #666;
  color:#000;
  text-decoration:none;
}

body{background:#aaa;}